body {
  font-family: 'Source Code Pro', monospace;
  background: black;
}

$panel-background: rgba(black, 0.4);

#joystick-canvas {
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#video-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  transform: scaleX(-1) rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;

  > canvas {
    width: 100%;
    height: auto;
  }
}

#stop {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  border: 1px solid white;
  background: red;
  color: white;
  padding: 10px 70px;
  font-size: 50px;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background: darken(red, 5%);
  }

  &:focus {
    outline: none;
  }
}

#stats {
  position: fixed;
  right: 0;
  top: 0;
  background: $panel-background;
  color: white;
  padding: 15px;
  display: flex;

  > .legend {
    margin-right: 30px;
  }

  > .numbers {
    min-width: 110px;
    margin-right: 20px;
  }

  > div > p {
    margin: 0;
  }
}

.main-svg {
  background: none !important;
}

#charts {
  position: fixed;
  left: 0;
  top: 0;
  width: 20vw;
  z-index: 9999;
  background: $panel-background;

  > .chart {
    position: relative;

    > h3 {
      color: white;
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      pointer-events: none;
    }

    &:not(:first-child) {
      margin-top: -5px;
    }

    > .js-plotly-plot {
      height: 100px;
      width: 100%;
    }
  }
}

#commands {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  z-index: 9999;

  > .menu-row {
    display: flex;
    justify-content: center;

    > .menu-item {
      width: 90px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      border: 1px solid white;
      background: transparent;
      font-family: inherit;
      color: white;
      font-size: inherit;
      background: $panel-background;
      cursor: pointer;

      &:disabled {
        opacity: 0.3;
      }

      &.active {
        background: rgba(white, 0.4);
      }

      &:focus {
        outline: none;
      }

      &:not(:first-child) {
        margin-left: -1px;
      }

      margin-bottom: -1px;
    }
  }
}

@media only screen and (max-width: 850px) {
  #root > div:first-child {
    transform-origin: top right;
    transform: scale(0.8);
  }

  #charts {
    transform-origin: top left;
    transform: scale(0.8);
  }
}

.danger {
  color: red;
  font-weight: bold;
}
